@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  color: #fff;
}

::selection {
  background: #6de4e8;
}

.degradedBlue {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding: 5px 0;
}

.swiper-pagination-bullet {
  background: #fff !important;
}

.swiper-pagination-bullet-active {
  background: rgba(0, 178, 218, 0.6) !important;
}

.slider-horizontal {
  display: flex;
  animation: swipe 5000ms linear infinite backwards;
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}
.fondo {
  background-color: rgba(0, 0, 0, 0.6);
}
.texto {
  font-weight: 100;
}
.title-servicios {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
}
@media (min-width: 767px) {
  .about {
    background-attachment: fixed;
    width: 100%;
  }
  .back-about {
    width: 90%;
    background-color: #fff;
  }
}
